RewriteEngine On

# Redirecionar para HTTPS WC
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{http_host} ^www.williamlibero.com.br [NC]
RewriteRule ^(.*)$ https://williamlibero.com.br/$1 [R=301,L]