.title-content .sub-section-icon .icon-skill-vuejs {
    background: url(../images/vuejs.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-vuejs:hover {
    color: blue;
}

.title-content .sub-section-icon .icon-skill-laravel {
    background: url(../images/laravel.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-laravel:hover {
    color: blue;
}

.title-content .sub-section-icon .icon-skill-javascript {
    background: url(../images/js.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-javascript:hover {
    color: blue;
}

.title-content .sub-section-icon .icon-skill-flutter {
    background: url(../images/flutter.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-flutter:hover {
    color: blue;
}

.title-content .sub-section-icon .icon-skill-mysql {
    background: url(../images/mysql.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-mysql:hover {
    color: blue;
}

.title-content .sub-section-icon .icon-skill-nodejs {
    background: url(../images/nodejs.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-nodejs:hover {
    color: blue;
}