.title-content .sub-section-icon .icon-skill-html5 {
    background: url(../images/html5c.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-html5:hover {
    background: url(../images/html5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.title-content .sub-section-icon .icon-skill-css3 {
    background: url(../images/css3c.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-css3:hover {
    background: url(../images/css3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.title-content .sub-section-icon .icon-skill-javascript {
    background: url(../images/jsc.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-javascript:hover {
    background: url(../images/js.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.title-content .sub-section-icon .icon-skill-php {
    background: url(../images/phpc.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-php:hover {
    background: url(../images/php.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.title-content .sub-section-icon .icon-skill-mysql {
    background: url(../images/mysqlc.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-mysql:hover {
    background: url(../images/mysql.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.title-content .sub-section-icon .icon-skill-nodejs {
    background: url(../images/nodejsc.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
}

.title-content .sub-section-icon .icon-skill-nodejs:hover {
    background: url(../images/nodejs.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}